<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestNG.Test3"/>
      <class name="com.TestNG.TestGroups3"/>
      <class name="com.TestNG.Test2"/>
      <class name="com.TestNG.TestGroups2"/>
      <class name="com.TestNG.MyDataProviderDemo"/>
      <class name="com.TestNG.Test4"/>
      <class name="com.TestNG.CustomDataProvider2"/>
      <class name="com.TestNG.TestNGPriorityDemo"/>
      <class name="com.TestNG.ParallelTestExecusion"/>
      <class name="com.TestNG.Test1"/>
      <class name="com.TestNG.ParallelTestExecusion1"/>
      <class name="com.TestNG.TestGroups1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
